<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@month) do |f| %>
        <% if @month.errors.any? %>
            <div id="error_explanation">
              <h2><%= @month.errors.count.to_s +  ' Fehler' %>
                <% if @month.errors.count < 2 %>
                    verhindert
                <% elsif @month.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieses Monats.
              </h2>

              <ul>
                <% @month.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :name %><br>
          <%= @month.name %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_field :description, {:class => "form-control"} %>
        </div>
        <div class="actions">
          <%= f.submit 'Monat aktualisieren', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
  </div>
</div>