<% provide(:title, 'Monate') %>

<h1>Auflistung der Monate</h1>

<%= link_to 'Excel Download', months_path(:format => :xls) %>

<table id="months" class="display">
  <thead>
  <tr>
    <th>Name</th>
    <th>Beschreibung</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @months.each do |month| %>
      <tr>
        <td><%= month.name %></td>
        <td><%= month.description %></td>
        <td><%= link_to 'Anzeigen', month %></td>
        <td><%= link_to 'Bearbeiten', edit_month_path(month) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Zurück zur Startseite', blending_start_path %>