<% provide(:title, 'Monate') %>
<h1>Information zum Monat</h1>
<p>
  <strong>Name:</strong>
  <%= @month.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @month.description %>
</p>

<br>

<%= link_to 'Bearbeiten', edit_month_path(@month) %> |
<%= link_to 'Zurück zur Übersicht der Monate', months_path %>
