<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@final_product) do |f| %>
        <% if @final_product.errors.any? %>
            <div id="error_explanation">
              <h2><%= @final_product.errors.count.to_s +  ' Fehler' %>
                <% if @final_product.errors.count < 2 %>
                    verhindert
                <% elsif @final_product.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieses Endprodukts.
              </h2>

              <ul>
                <% @final_product.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <%= f.label :name %><br>
        <%= @final_product.name %><br><br>

        <%= f.label :price %><br>
        <%= f.text_field :price, {:class => "form-control"} %><br>

        <div class="actions">
          <%= f.submit 'Endprodukt aktualisieren', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
  </div>
</div>