<% provide(:title, 'Endprodukt') %>
<h1>Bearbeitung der Endprodukte</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @final_product %> |
<%= link_to 'Zurück zur Übersicht der Endprodukte', final_products_path %>
