<% provide(:title, 'Endprodukt') %>

<h1>Auflistung der Endprodukte</h1>

<%= link_to 'Excel Download', final_products_path(:format => :xls) %>

<table id="final_products" class="display">
  <thead>
  <tr>
    <th>Name</th>
    <th>Verkaufspreis</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @final_products.each do |final_product| %>
      <tr>
        <td><%= final_product.name %></td>
        <td><%= final_product.price %></td>
        <td><%= link_to 'Anzeigen', final_product %></td>
        <td><%= link_to 'Bearbeiten', edit_final_product_path(final_product) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Zurück zur Startseite', blending_start_path %>