<% provide(:title, 'Endprodukt') %>
<h1>Information zum Endprodukt</h1>
<p>
  <strong>Name:</strong>
  <%= @final_product.name %>
</p>

<p>
  <strong>Verkaufspreis:</strong>
  <%= @final_product.price %>
</p>

<br>

<%= link_to 'Bearbeiten', edit_final_product_path(@final_product) %> |
<%= link_to 'Zurück zur Übersicht der Endprodukte', final_products_path %>
