<% provide(:title, "Über uns") %> <h1>Über uns</h1> <p> Diese Homepage beschäftigt sich im Rahmen der Vorlesung "Entwicklung
  von Anwendungssystemen" bei Herrn Professor Helber mit dem "Blending of Oil-Problem". Auf der Basis des
  <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorials</em></a> von Michael Hartl wird eine
  Web-Applikation zur betriebswirtschaftlichen Entscheidungsunterstützung erstellt, die als Illustration für die Lösung
  unterschiedlicher Planungsprobleme des Operations Managements dient. Über verschiedene Links können hierbei die
  jeweiligen Parameter eingegeben und verwaltet werden. Nachdem die Optimierung gestartet wurde, können über weitere
  Links die optimalen Rohölverbräuche und -bestände sowie die Produktionsmengen und der optimale Gewinn eingelesen
  werden.
</p>