<% provide(:title, 'Blending of Oil - App') %>

<h1>Blending of Oil</h1>

<br>

<div class="linkcontainer">
  <div class="centerwrapper">

    <% if can? :index, Rawoil %>
        <div class="image">
          <%= link_to image_tag('rawoil.png', height: '50', alt: 'Rohöl logo'), rawoils_path %> <br>
          <%= link_to 'Verwaltung der Rohöle', rawoils_path %>
        </div>
    <% end %>


    <% if can? :index, Refinery %>
        <div class="image">
          <%= link_to image_tag('Raffinerie.png', height: '50', alt: 'Raffinerie logo'), refineries_path %><br>
          <%= link_to 'Verwaltung der Raffinerien', refineries_path %>
        </div>
    <% end %>


    <% if can? :index, Storage %>
        <div class="image">
          <%= link_to image_tag('Lagertank.png', height: '50', alt: 'Lagertank logo'), storages_path %><br>
          <%= link_to 'Verwaltung der Lagertanks', storages_path %>
        </div>
    <% end %>

    <% if can? :index, FinalProduct %>
        <div class="image">
          <%= link_to image_tag("Endprodukt.png", height: '50', alt: 'Endprodukt logo'), final_products_path %><br>
          <%= link_to 'Verwaltung der Endprodukte', final_products_path %>
        </div>
    <% end %>


    <% if can? :index, Customer %>
        <div class="image">
          <%= link_to image_tag('customers1.png', height: '50', alt: 'Kunde logo'), customers_path %><br>
          <%= link_to 'Verwaltung der Kunden', customers_path %>
        </div>
    <% end %>


    <% if can? :index, Order %>
        <div class="image">
          <%= link_to image_tag("shopping_cart-512.png", height: '50', alt:"Kundenbestellung logo"), orders_path %><br>
          <%= link_to 'Verwaltung der Kundenbestellungen', orders_path %> <br>
        </div>
    <% end %>


    <% if can? :index, Month %>
        <div class="image">
          <%= link_to image_tag("month.png", height: '50', alt:"Monat logo"), months_path %><br>
          <%= link_to "Verwaltung der Monate", months_path %><br>
        </div>
    <% end %>


    <% if can? :index, Supplier %>
        <div class="image">
          <%= link_to image_tag('Lieferant.png', height: '50', alt: 'Lieferant logo'), suppliers_path %><br>
          <%= link_to 'Verwaltung der Lieferanten', suppliers_path %><br>
        </div>
    <% end %>


    <% if can? :index, Shipment %>
        <div class="image">
          <%= link_to image_tag("shipment.png", height: '50', alt:"Lieferung logo"), shipments_path %><br>
          <%= link_to 'Verwaltung der Rohöhllieferungen', shipments_path %> <br>
        </div>
    <% end %>


    <% if can? :index, Consumption %>
        <div class="image">
          <%= link_to image_tag("rohoelverbrauch.png", height: '50', alt:"Rohölverbrauch logo"), consumptions_path %><br>
          <%= link_to 'Anzeige der Rohölverbräuche', consumptions_path %> <br>
        </div>
    <% end %>


    <% if can? :index, Production %>
        <div class="image">
          <%= link_to image_tag("Produktionsmenge.png", height: '50', alt:"Produktionsmenge logo"), productions_path %><br>
          <%= link_to 'Anzeige der Produktionsmengen', productions_path %> <br>
        </div>
    <% end %>


    <% if can? :index, Warehousing %>
        <div class="image">
          <%= link_to image_tag("Warehouse_With_Boxes-512.png", height: '50', alt:"Rohölbestand logo"), warehousings_path %><br>
          <%= link_to 'Anzeige der Rohölbestände', warehousings_path %> <br>
        </div>
    <% end %>


    <% if can? :index, Administration %>
        <div class="image">
          <%= link_to image_tag("produktionsparameter.png", height: '50', alt:"Produktionsparameter logo"), administrations_path %><br>
          <%= link_to 'Verwaltung der Produktionsparameter', administrations_path %> <br>
        </div>
    <% end %>


    <% if can? :index, GamsPath %>
        <div class="image">
          <%= link_to image_tag("gams.png", height: '50', alt:"GAMS logo"), gams_paths_path %><br>
          <%= link_to 'Verwaltung des GAMS-Pfads', gams_paths_path %> <br>
        </div>
    <% end %>
  </div>

  <% if can? :optimize, Warehousing%>
      <div class = "button">
        <%= button_to "Lösche den Produktions- und Lagerplan", {:controller => 'warehousings', :action => 'delete_old_plan'}, {:class => "btn btn-primary"} %> <br><br>
        <%= button_to "Optimierung starten und Ergebnisse einlesen", {:controller => 'warehousings', :action => 'optimize' }, {:class => "btn btn-primary"} %> <br><br>
      </div>
  <% end %>
</div>
<br><br><br>





