<% provide(:title, 'Contact') %> <h1>Kontakt</h1>
<p>Bei Fragen und Anregungen wenden Sie sich bitte per e-Mail an
  <%= mail_to("j.broihan@gmx.de", "Justine Broihan", :style=> "font-weight: bold")%>
  oder <%= mail_to("max-moeller91@web.de", "Max Möller", :style=> "font-weight: bold")%>.
</p>