<div class="center jumbotron">
  <h1>Herzlich Willkommen zur Blending-Oil-App</h1>

  <h2>
    Sie befinden sich auf der Homepage des
    <a href="https://www.gams.com/modlib/libhtml/food.htm">Blending of Oil Problems</a>.
  </h2>

  <% if not logged_in? %>
      <%= link_to "Jetzt kostenlos registrieren!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
