<% provide(:title, 'Losgrößenplanung') %>
<h1>Mehrstufige Losgrößenplanung mit dem MLCLSP</h1>
<p>
Auf dieser Seite startet die Losgrößenplanung!    <br>     <br>

  <%= link_to "Hier geht es zur Verwaltung der Produkte!", products_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Machinen!", machines_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Perioden!", periods_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Produkte-Produkte-Relationen!", product_product_associations_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Produkte-Perioden-Relationen!", product_period_associations_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Maschinen-Perioden-Relationen!", machine_period_associations_path %><br>
</p>

<br>


<% if logged_in? %>

    <p>

      Nach der Eingabe der Daten können wir nun endlich optimieren!

      <%= button_to "Lösche den Produktions- und Lagerplan", :controller => 'product_period_associations', :action => 'delete_old_plan' %>
      <%= button_to "Optimiere", :controller => 'product_period_associations', :action => 'optimize' %>
      <%= button_to "Lies die Ergebnisse ein", :controller => 'product_period_associations', :action => 'read_optimization_results' %>
      <%= button_to "Lies den Zielfunktionswert ein", :controller => 'product_period_associations', :action => 'read_and_show_ofv' %>

    </p>

<% end %>
