<% provide(:title, "Anmeldung") %>
<h1>Anmeldung</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email, 'E-Mail:' %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, 'Passwort:' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Einloggen", class: "btn btn-primary" %>
    <% end %>

    <br>

    <p>Neuer Benutzer? <%= link_to "Jetzt kostenlos registrieren", signup_path %></p>
  </div>
</div>
