<p id="notice"><%= notice %></p>

<h1>Listing Periods</h1>

<table id="periods" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.name %></td>
        <td><%= link_to 'Show', period %></td>
        <td><%= link_to 'Edit', edit_period_path(period) %></td>
        <td><%= link_to 'Destroy', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<p>
  <b>Anzahl Perioden:</b>
  <%= @number_of_periods %>
</p>


<%= form_tag change_periods_path %>
<div class="field">
  <%= label_tag :mynewnumber, "Meine neue Anzahl von Perioden" %>
  <%= text_field_tag :mynewnumber, @mynumber_of_periods  %>
</div>
<%= submit_tag "Anzahl Perioden anpassen" %>

<%= link_to 'New Period', new_period_path %>
<br>
<%= link_to 'Zurück zur Losgrößenplanung', mlclsp_start_path %>

