<% provide(:title, 'Rohölbestände') %>

<h1>Auflistung der Lagerbestände</h1>

<%= link_to 'Excel Download', warehousings_path(:format => :xls) %>

<table id="warehousings" class="display">
  <thead>
  <tr>
    <th>Rohöl</th>
    <th>Rohöltank</th>
    <th>Monat</th>
    <th>Bestand</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @warehousings.each do |warehousing| %>
      <tr>
        <td><%= warehousing.rawoil.name %></td>
        <td><%= warehousing.storage.name %></td>
        <td><%= warehousing.month.description %></td>
        <td><%= warehousing.stock %></td>
        <td><%= link_to 'Anzeigen', warehousing %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h1>Lagerbestände pro Rohöl</h1>

<%= line_chart Rawoil.all.map { |rawoil|
                 {
                         name: rawoil.name,
                         data: rawoil.warehousings.group(:month_id).sum(:stock)
                 }},
               discrete: true,
               xtitle: 'Monat',
               ytitle: 'Lagerbestand',
               height: '400px',
               library: {backgroundColor: '#fafafa', legend: {position: 'top'}}
%>

<%= link_to 'Zurück zur Startseite', blending_start_path %>