<% provide(:title, 'Rohölbestände') %>
<h1>Information zum Lagerbestand</h1>
<p>
  <strong>Rohöl:</strong>
  <%= @warehousing.rawoil_id %>
</p>

<p>
  <strong>Lagertank:</strong>
  <%= @warehousing.storage_id %>
</p>

<p>
  <strong>Monat:</strong>
  <%= @warehousing.month_id %>
</p>

<p>
  <strong>Lagerbestand:</strong>
  <%= @warehousing.stock %>
</p>

<br>

<%= link_to 'Zurück zur Übersicht der Lagerbestände', warehousings_path %>
