<%= form_for(@product_product_association) do |f| %>
  <% if @product_product_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_product_association.errors.count, "error") %> prohibited this product_product_association from being saved:</h2>

      <ul>
      <% @product_product_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
      <%= f.label 'Vorgänger' %><br />
      <%= f.collection_select :predecessor_id, Product.all, :id, :name %>
   </div>

   <div class="field">
      <%= f.label 'Nachfolger' %><br />
      <%= f.collection_select :successor_id, Product.all, :id, :name %>
   </div>

  <div class="field">
    <%= f.label :coefficient %><br>
    <%= f.text_field :coefficient %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
