<p id="notice"><%= notice %></p>

<h1>Listing Product Product Associations</h1>

<table id="prod-prod-assoc" class="display">
  <thead>
    <tr>
      <th>Predecessor</th>
      <th>Successor</th>
      <th>Coefficient</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_product_associations.each do |product_product_association| %>
      <tr>
        <td><%= product_product_association.predecessor.name %></td>
        <td><%= product_product_association.successor.name %></td>
        <td><%= product_product_association.coefficient %></td>
        <td><%= link_to 'Show', product_product_association %></td>
        <td><%= link_to 'Edit', edit_product_product_association_path(product_product_association) %></td>
        <td><%= link_to 'Destroy', product_product_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product product association', new_product_product_association_path %>
<br>  <br>
<%= link_to 'Zurück zur Losgrößenplanung', mlclsp_start_path %>

