<p id="notice"><%= notice %></p>

<p>
  <strong>Predecessor:</strong>
  <%= @product_product_association.predecessor.name %>
</p>

<p>
  <strong>Successor:</strong>
  <%= @product_product_association.successor.name %>
</p>

<p>
  <strong>Coefficient:</strong>
  <%= @product_product_association.coefficient %>
</p>

<%= link_to 'Edit', edit_product_product_association_path(@product_product_association) %> |
<%= link_to 'Back', product_product_associations_path %>
