<%= 'Rolle: ' %> <%= @user.roles.pluck(:description).join(' ') %><br><br><hr>

<% if @user.role_ids.include?(1) %>
    <%= 'Einnahmen: ' + @user.revenue.to_s + ' GE' %><br>
    <%= 'Lagerkosten: ' + @user.storage_cost.to_s + ' GE' %><br>
    <%= 'Rohölkosten: ' + @user.cost.to_s + ' GE' %>
    <hr>
    <%= 'Gewinn: ' + @user.profit.to_s + ' GE' %>

<% elsif @user.role_ids.include?(2) %>
    <%= 'Bestellmenge insgesamt: '%> <%= @user.order_size(@user).to_s + ' Einheiten' %><br>
    <%= 'Voraussichtlich fälliger Betrag: ' %> <%= @user.estimated_price(@user).to_s + ' GE' %>

<% elsif @user.role_ids.include?(3) %>
        <span style="font-weight: bold">Umsatz durch Rohölverkäufe: </span><br>
    <% Rawoil.all.each do |rawoil| %>
        <%= rawoil.name + ': ' + @user.rawoil_purchases(@user, rawoil).to_s + ' GE' %><br>
        <% end %>
    <hr>
    <%= 'insgesamt: ' + @user.shipment_price(@user).to_s + ' GE' %>
<% end %>


