<% if @user.role_ids.include?(1) %>
    <h3>Produktionsmengen</h3>
    <%= column_chart prod_chart_data,
                     xtitle: 'Monat',
                     ytitle: 'Produktionsmenge',
                     library: {backgroundColor: '#fafafa', legend: {position: 'top'}},
                     stacked: true
    %>

<% elsif @user.role_ids.include?(2) %>
    <h3>Bestellmengen pro Monat</h3>
    <%= line_chart ordered_quantities_chart_data(@user),
                   discrete: true,
                   xtitle: 'Monat',
                   ytitle: 'Bestellmenge',
                   library: {backgroundColor: '#fafafa', legend: {position: 'top'}}
    %>

<% elsif @user.role_ids.include?(3) %>
    <h3>Verkaufsmengen pro Monat</h3>
    <%= column_chart rawoil_purchase_data(@user),
                     xtitle: 'Monat',
                     ytitle: 'Bestellmenge',
                     library: {backgroundColor: '#fafafa', legend: {position: 'top'}}
    %>

<% end %>