<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.firstname + ' ' + user.name, user %>
  <% if can? :optimize, Warehousing %>
      | <%= link_to 'Bearbeiten', edit_user_path(user) %>
      | <%= link_to 'Löschen', user, method: :delete,
                    data: { confirm: "Sind Sie sicher, dass Sie diesen Benutzer löschen möchten?" } %>
  <% end %>

</li>
