<% provide(:title, 'Benutzer') %>
<h1>Liste aller Benutzer</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
      <%= render @users %>
  <% end %>
</ul>

<%= will_paginate %>



