<% provide(:title, 'Anmeldung') %>
<h1>Anmeldung</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label 'Vorname:' %>
        <%= f.text_field :firstname, class: 'form-control' %>

        <%= f.label 'Nachname:' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, 'E-Mail:' %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, 'Passwort:' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, 'Wiederholung des Passworts:' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <% @roles.each do |role| %>
            <div class="radio">

              <% radio_ %>
              <%= radio_button_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
              <%= role.description %>
            </div>
        <% end %>

        <%= f.submit 'Neues Konto erstellen', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
