<% provide(:title, @user.firstname + ' ' + @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.firstname + ' ' + @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'balance' %>
    </section>
  </aside>
  <div class="col-md-8">
    <ol class="microposts">
      <%= render 'charts' %>
    </ol>
  </div>
</div>
