<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@refinery) do |f| %>
        <% if @refinery.errors.any? %>
            <div id="error_explanation">
              <h2><%= @refinery.errors.count.to_s +  ' Fehler' %>
                <% if @refinery.errors.count < 2 %>
                    verhindery
                <% elsif @refinery.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieser Raffinerie.
              </h2>
              <ul>
                <% @refinery.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.label :name %><br>
        <%= @refinery.description %><br><br>

        <%= f.label :capacity %><br>
        <%= f.text_field :capacity, {:class => "form-control"} %>

        <%= f.label :category %><br>
        <%= @refinery.category %>

        <br>
        <br>

        <div class="actions">
          <%= f.submit 'Raffinerie aktualisieren', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
  </div>
</div>