<% provide(:title, 'Raffinerien') %>
<h1>Bearbeitung der Raffinerien</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @refinery %> |
<%= link_to 'Zurück zur Übersicht der Raffinerien', refineries_path %>
