<% provide(:title, 'Raffinerien') %>

<h1>Auflistung der Raffinerien</h1>

<%= link_to 'Excel Download', refineries_path(:format => :xls) %>

<table id="refineries" class="display" width="100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Kapazität</th>
    <th>Rohöltyp</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @refineries.each do |refinery| %>
      <tr>
        <td><%= refinery.description %></td>
        <td><%= refinery.capacity %></td>
        <td><%= refinery.category %></td>
        <td><%= link_to 'Anzeigen', refinery %></td>
        <td><%= link_to 'Bearbeiten', edit_refinery_path(refinery) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h1>Raffineriekapazitäten</h1>

<%= column_chart Refinery.group(:description).sum(:capacity),
                 margin: '400px',
                 ytitle: 'Kapazität',
                 library: {backgroundColor: '#fafafa'}
%>



<%= link_to 'Zurück zur Startseite', blending_start_path %>