<% provide(:title, 'Raffinerien') %>
<h1>Raffinerieinformation</h1>
<p>
  <strong>Name:</strong>
  <%= @refinery.name %>
</p>

<p>
  <strong>Kapazität:</strong>
  <%= @refinery.capacity %>
</p>

<p>
  <strong>Rohöltyp:</strong>
  <%= @refinery.category %>
</p>

<br>

<%= link_to 'Bearbeiten', edit_refinery_path(@refinery) %> |
<%= link_to 'Zurück zur Übersicht der Raffinerien', refineries_path %>
