<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.firstname + ' ' + current_user.name %></h1>
<span><%= link_to 'Mein Profil', current_user %></span>



<% if false %>
    <% if can? :be, Customer %>
        <span><%= @customer.purchase_orders.sum(:quantity) + ' Bestellungen' %></span>
    <% end %>
<% end %>

