<% provide(:title, 'Produktionsmengen') %>

<h1>Auflistung der Produktionsmenge</h1>

<%= link_to 'Excel Download', productions_path(:format => :xls) %>

<table id="productions" class="display" width="100%">
  <thead>
  <tr>
    <th>Monat</th>
    <th>Produktionsmenge</th>
    <th>Nachfrageüberschuss</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @productions.each do |production| %>
      <tr>
        <td><%= production.month.description %></td>
        <td><%= production.production %></td>
        <td><%= production.excess_demand %></td>
        <td><%= link_to 'Anzeigen', production %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if @objective_function_value!=nil %>
    Der Gewinn beträgt <%= @objective_function_value %> Geldeinheiten.
    Die GAMS-Lösung ist
    <% if @modelstatus == 0 %>
        noch nicht berechnet.
    <% elsif @modelstatus == 1 %>
        optimal.
    <% elsif @modelstatus == 2 %>
        lokal optimal.
    <% elsif @modelstatus == 3 %>
        nicht beschränkt.
    <% elsif @modelstatus == 4 %>
        nicht realisierbar.
    <% elsif @modelstatus == 5 %>
        lokal nicht realisierbar.
    <% elsif @modelstatus == 6 %>
        zwischenzeitlich nicht realisierbar
    <% elsif @modelstatus == 7 %>
        realisierbar
    <% elsif @modelstatus == 8 %>
        ganzzahlig
    <% elsif @modelstatus == 9 %>
        ist zwischenzeitlich nicht ganzzahlig
    <% elsif @modelstatus == 10 %>
        ist ganzzahlig nicht realisierbar
    <% elsif @modelstatus == 11 %>
    <%end%>
    <br>
<% else %>
    <span style= "color:red; font-weight: bold">Bei der Berechnung des optimalen Zielfunktionswerts ist ein Fehler aufgetreten.
    Bitte überprüfen Sie Ihre Eingaben sowie das GAMS-Modell.</span>
<% end %>

<br>
<br>

<h1>Produktionsmengen pro Monat</h1>

<%= column_chart prod_chart_data,
                 xtitle: 'Monat',
                 ytitle: 'Produktionsmenge',
                 library: {backgroundColor: '#fafafa', legend: {position: 'top'}},
                 stacked: true
%>

<%= link_to 'Zurück zur Startseite', blending_start_path %>