<% provide(:title, 'Produktionsmengen') %>
<h1>Information zur Produktionsmenge</h1>
<p>
  <strong>Monat:</strong>
  <%= @production.month.description %>
</p>

<p>
  <strong>Produktionsmenge:</strong>
  <%= @production.production %>
</p>

<p>
  <strong>Nachfrageüberschuss:</strong>
  <%= @production.excess_demand %>
</p>

<br>

<%= link_to 'Zurück zur Übersicht der Produktionsmenge', productions_path %>
