<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@customer) do |f|  %>
        <% if @customer.errors.any? %>
            <div id="error_explanation">
              <h2><%= @customer.errors.count.to_s +  ' Fehler' %>
                <% if @customer.errors.count < 2 %>
                    verhindert
                <% elsif @customer.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieses Parameters.
              </h2>

              <ul>
                <% @customer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <h3>Kundeninformationen</h3>
        <%= f.label :namefi %><br>
        <%= f.text_field :namefi, class: 'form-control' %>

        <%= f.label :namela %><br>
        <%= f.text_field :namela, class: 'form-control' %>

        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :adress %><br>
        <%= f.text_field :adress, class: 'form-control' %>

        <h3>Bestellungen</h3>
        <%=  f.fields_for :orders do |order| %>
            <%= render 'order_fields', f: order %>
        <% end %>

        <div>
          <%= link_to_add_association 'Bestellung hinzufügen', f, :orders %><br><br>
        </div>

        <%= f.submit 'Bestätigen', class: 'btn btn-primary' %><br><br>
    <% end %>
  </div>
</div>