<div class="nested-fields">
  <fieldset>
    <%= f.label 'Monat:' %><br>
    <%= f.collection_select :month_id, Month.all, :id, :description %><br>
    <%= f.label 'Endprodukt:' %>
    <%= f.collection_select :final_product_id, FinalProduct.all, :id, :name %>
    <%= f.label :quantity, 'Menge:' %><br>
    <%= f.text_field :quantity, {:class => "form-control"} %>
    <%= link_to_remove_association 'Bestellung löschen', f %>
  </fieldset><br>
</div>
