<% provide(:title, 'Kundenliste') %>
<h1>Kundeninformationen bearbeiten</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @customer %> |

<%= link_to 'Zurück zur Kundenübersicht', customers_path %> |
<%= link_to 'Zurück zur Bestellübersicht' %>

