<% provide(:title, 'Kundenliste') %>

<h1>Kundenliste</h1>

<%= link_to 'Excel Download', customers_path(:format => :xls) %>

<table id="customers" class="display">
  <thead>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>E-Mail</th>
    <th>Adresse</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.namefi %></td>
        <td><%= customer.namela %></td>
        <td><%= customer.email %></td>
        <td><%= customer.adress %></td>
        <td><%= link_to 'Anzeigen', customer %></td>
        <td><%= link_to 'Bearbeiten', edit_customer_path(customer) %></td>
        <td><%= link_to 'Löschen', customer, method: :delete, data: { confirm: 'Sind Sie sicher, diesen Kunden zu löschen?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Kunde', new_customer_path %> |
<%= link_to 'Zurück zur Startseite', blending_start_path %>
