<% provide(:title, 'Kundenliste') %>
<h1>Information zum Kunden</h1>
<p>
  <strong>Vorname:</strong>
  <%= @customer.namefi %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @customer.namela %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Lieferadresse:</strong>
  <%= @customer.adress %>
</p>

<br>
<h3>Bestellungen des Kunden</h3>
<table id="customer_orders" class="display">
  <thead>
  <tr>
    <th>Monat</th>
    <th>Menge</th>
  </tr>
  </thead>

  <tbody>
  <% @customer.orders.each do |order| %>
      <tr>
        <td><%= order.month.description %></td>
        <td><%= order.quantity %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Bearbeiten', edit_customer_path(@customer) %> |
<%= link_to 'Zurück zur Kundenübersicht', customers_path %> |
<%= link_to 'Zurück zur Bestellungsübersicht', orders_path %>

