<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@order) do |f| %>
        <% if @order.errors.any? %>
            <div id="error_explanation">
              <h2><%= @order.errors.count.to_s +  ' Fehler' %>
                <% if @order.errors.count < 2 %>
                    verhindert
                <% elsif @order.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieser Bestellung.
              </h2>

              <ul>
                <% @order.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.label :customer_id %><br>
        <% if can? :optimize, Warehousing %>
            <%= f.collection_select :customer_id, Customer.all, :id, :fullname %>
        <% else %>
            <%= @customer.pluck(:namefi).join(' ') + ' ' + @customer.pluck(:namela).join(' ') %>
            <%= f.hidden_field :customer_id, value: @customer.pluck(:id) %>
        <% end %><br><br>

        <%= f.label :final_product_id %><br>
        <%= f.collection_select :final_product_id, FinalProduct.all, :id, :name %>

        <%= f.label :month_id %><br>
        <%= f.collection_select :month_id, Month.all, :id, :description %>

        <%= f.label :quantity %><br>
        <%= f.text_field :quantity, {:class => "form-control"} %>

        <div class="actions">
          <%= f.submit 'Kundenbestellung bestätigen', {:class => "btn btn-primary"} %>
        </div>

    <% end %>
  </div>
</div>
