<% provide(:title, 'Kundenbestellungen') %>
<h1>Bearbeitung der Kundenbestellungen</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @orders %> |
<%= link_to 'Zurück zur Übersicht der Kundenbestellungen', orders_path %>
