<% provide(:title, 'Kundenbestellungen') %>

<h1>Liste der Bestellungen</h1>

<%= link_to 'Excel Download', orders_path(:format => :xls) %>

<table id="orders" class="display">
  <thead>
  <tr>
    <th>Kunde</th>
    <th>Endprodukt</th>
    <th>Monat</th>
    <th>Menge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer.fullname %></td>
        <td><%= order.final_product.name %></td>
        <td><%= order.month.description %></td>
        <td><%= order.quantity %></td>
        <td><%= link_to 'Anzeigen', order %></td>
        <td><%= link_to 'Bearbeiten', edit_order_path(order) %></td>
        <td><%= link_to 'Löschen', order, method: :delete, data: { confirm: 'Sind Sie sicher, diese Kundenbestellung zu löschen?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h1>Bestellmengen pro Monat und Kunde</h1>

<%= line_chart @customers.map { |customer|
                 {
                         name: customer.fullname,
                         data: customer.orders.group(:month_id).sum(:quantity)
                 }},
               discrete: true,
               xtitle: 'Monat',
               ytitle: 'Bestellmenge',
               library: {backgroundColor: '#fafafa', legend: {position: 'top'}}
%>

<% if can? :create, Order %>
    <%= link_to 'Neue Kundenbestellung', new_order_path %> |
<% end %>
<%= link_to 'Zurück zur Startseite', blending_start_path %>

