<% provide(:title, 'Kundenbestellungen') %>
<h1>Information zur Kundenbestellung</h1>

<p>
  <strong>Kunde:</strong>
  <%= @order.customer.fullname %>
</p>

<p>
  <strong>Monat:</strong>
  <%= @order.month.description %>
</p>

<p>
  <strong>Menge:</strong>
  <%= @order.quantity %>
</p>

<br>

<%= link_to 'Bearbeiten', edit_order_path(@order) %> |
<%= link_to 'Zurück zur Übersicht der Kundenbestellungen', orders_path %>
