<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@supplier) do |sup_form| %>
        <% if @supplier.errors.any? %>
            <div id="error_explanation">
              <h2><%= @supplier.errors.count.to_s +  ' Fehler' %>
                <% if @supplier.errors.count < 2 %>
                    verhindert
                <% elsif @supplier.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieses Lieferanten.
              </h2>

              <ul>
                <% @supplier.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= sup_form.hidden_field :gams_id, value: "s" + Supplier.maximum(:id).next.to_s%>

        <%= sup_form.label "Vorname" %><br>
        <%= current_user.firstname %>
        <%= sup_form.hidden_field :contact_firstname, value: current_user.firstname %><br><br>

        <%= sup_form.label "Nachname" %><br>
        <%= current_user.name %>
        <%= sup_form.hidden_field :contact_lastname, value: current_user.name %><br><br>

        <%= sup_form.label "E-mail" %><br>
        <%= current_user.email %>
        <%= sup_form.hidden_field :email, value: current_user.email %><br><br>

        <%= sup_form.label "Firmenname" %><br>
        <%= sup_form.text_field :name, :class => "form-control" %><br><br>

        <div class="actions">
          <%= sup_form.submit "Bestätigen", {:class => "btn btn-primary"} %>
        </div>
    <% end %>
  </div>
</div>
