<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@customer) do |cust_form| %>
        <% if @customer.errors.any? %>
            <div id="error_explanation">
              <h2><%= @customer.errors.count.to_s +  ' Fehler' %>
                <% if @customer.errors.count < 2 %>
                    verhindert
                <% elsif @customer.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieses Parameters.
              </h2>

              <ul>
                <% @customer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= cust_form.hidden_field :gams_id, value: "c" + Customer.maximum(:id).next.to_s %>

        <%= cust_form.label "Vorname" %><br>
        <%= current_user.firstname %>
        <%= cust_form.hidden_field :namefi, value: current_user.firstname %><br><br>

        <%= cust_form.label "Nachname" %><br>
        <%= current_user.name %>
        <%= cust_form.hidden_field :namela, value: current_user.name %><br><br>

        <%= cust_form.label "E-mail" %><br>
        <%= current_user.email %>
        <%= cust_form.hidden_field :email, value: current_user.email %><br><br>

        <%= cust_form.label "Lieferadresse" %><br>
        <%= cust_form.text_field :adress, :placeholder => "z.B. Musterweg 1, 30000 Musterstadt", :class => "form-control"%><br><br>

        <div class="actions">
          <%= cust_form.submit "Bestätigen der Lieferadresse", {:class => "btn btn-primary"} %>
        </div>
    <% end %>
  </div>
</div>
