<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@storage) do |f| %>
        <% if @storage.errors.any? %>
            <div id="error_explanation">
              <h2><%= @storage.errors.count.to_s +  ' Fehler' %>
                <% if @storage.errors.count < 2 %>
                    verhindert
                <% elsif @storage.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieses Lagertanks.
              </h2>

              <ul>
                <% @storage.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <%= f.label :name %><br>
        <%= 't' + @storage.next_id %>
        <%= f.hidden_field :name, value: 't' + @storage.next_id %><br>

        <%= f.label :description %><br>
        <%= 'Lagertank ' + @storage.next_id %>
        <%= f.hidden_field :description, value: 'Lagertank ' + @storage.next_id %><br>

        <%= f.label :capacity %><br>
        <%= @storage.storage_capacity_param %>
        <%= f.hidden_field :capacity, value: @storage.storage_capacity_param %><br>

        <%= f.hidden_field :rawoil_id, value: @storage.last_rawoil %><br>

        <div class="actions">
          <%= f.submit 'Bestätigen und neuen Lagertank erstellen', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
  </div>
</div>