<% provide(:title, 'Lagertanks') %>
<h1>Bearbeitung der Lagertanks</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @storage %> |
<%= link_to 'Zurück zur Übersicht der Lagertanks', storages_path %>
