<% provide(:title, 'Lagertanks') %>

<h1>Auflistung der Lagertanks</h1>

<%= link_to 'Excel Download', storages_path(:format => :xls) %>

<table id="storages" class="display">
  <thead>
  <tr>
    <th>Name</th>
    <th>Kapazität</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @storages.each do |storage| %>
      <tr>
        <td><%= storage.description %></td>
        <td><%= storage.capacity %></td>
        <td><%= link_to 'Anzeigen', storage %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

Das Anlegen neuer Lagertanks erfolgt nach der Neuanlage eines Rohöls.
<br>
<br>
<%= link_to 'Zurück zur Startseite', blending_start_path %>