<% provide(:title, 'Lagertanks') %>
<h1>Lagertankinformation</h1>
<p>
  <strong>Name:</strong>
  <%= @storage.name %>
</p>

<p>
  <strong>Kapazität:</strong>
  <%= @storage.capacity %>
</p>

<%= link_to 'Bearbeiten', edit_storage_path(@storage) %> |
<%= link_to 'Zurück zur Übersicht der Lagertanks', storages_path %>
