<%= form_for(@machine_period_association) do |f| %>
  <% if @machine_period_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine_period_association.errors.count, "error") %> prohibited this machine_period_association from being saved:</h2>

      <ul>
      <% @machine_period_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :machine_id %><br>
    <%= @machine_period_association.machine.name %>
  </div>
  <div class="field">
    <%= f.label :period_id %><br>
    <%= @machine_period_association.period.name %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.text_field :capacity %>
  </div>
   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
