<p id="notice"><%= notice %></p>

<h1>Listing Machine Period Associations</h1>

<table id="mach-per-assoc" class="display">

  <thead>
    <tr>
      <th>Machine</th>
      <th>Period</th>
      <th>Capacity</th>
      <th>Overtime</th>
      <th></th>
       <th></th>
    </tr>
  </thead>

  <tbody>
    <% @machine_period_associations.each do |machine_period_association| %>
      <tr>
        <td><%= machine_period_association.machine.name %></td>
        <td><%= machine_period_association.period.name %></td>
        <td><%= machine_period_association.capacity %></td>
        <td><%= machine_period_association.overtime %></td>
        <td><%= link_to 'Show', machine_period_association %></td>
        <td><%= link_to 'Edit', edit_machine_period_association_path(machine_period_association) %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine period association', new_machine_period_association_path %>
<br>
<%= link_to 'Zurück zur Losgrößenplanung', mlclsp_start_path %>

