<p id="notice"><%= notice %></p>

<p>
  <strong>Machine:</strong>
  <%= @machine_period_association.machine.name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @machine_period_association.period.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @machine_period_association.capacity %>
</p>

<p>
  <strong>Overtime:</strong>
  <%= @machine_period_association.overtime %>
</p>

<%= link_to 'Edit', edit_machine_period_association_path(@machine_period_association) %> |
<%= link_to 'Back', machine_period_associations_path %>
