<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@rawoil) do |f| %>
        <% if @rawoil.errors.any? %>
            <div id="error_explanation">
              <h2><%= @rawoil.errors.count.to_s +  ' Fehler' %>
                <% if @rawoil.errors.count < 2 %>
                    verhindert
                <% elsif @rawoil.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieses Rohöls.
              </h2>

              <ul>
                <% @rawoil.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <%= f.label :name %><br>
        <%= "p" + Rawoil.maximum(:id).next.to_s %>
        <%= f.hidden_field :name, value: "p" + Rawoil.maximum(:id).next.to_s %><br><br>

        <%= f.label :category %><br>
        <%= f.select :category, [['PV','PV'],['PNV','PNV']] %>

        <%= f.label :density %><br />
        <%= f.text_field :density, {:class => "form-control"} %>


        <div class="actions">
          <%= f.submit 'Rohöl bestätigen', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
  </div>
</div>
