<% provide(:title, 'Rohöle') %>

<h1>Auflistung der Rohöle</h1>

<%= link_to 'Excel Download', rawoils_path(:format => :xls) %>

<table id="rawoils" class="display" width="100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Raffinerie</th>
    <th>Dichte</th>
    <th>Typ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @rawoils.each do |rawoil| %>
      <tr>
        <td><%= rawoil.name %></td>
        <td><%= rawoil.refinery.description if rawoil.refinery %></td>
        <td><%= rawoil.density %></td>
        <td><%= rawoil.category %></td>
        <td><%= link_to 'Anzeigen', rawoil %></td>
        <td><%= link_to 'Bearbeiten', edit_rawoil_path(rawoil) %></td>
        <td><%= link_to 'Löschen', rawoil, method: :delete, data:
                                         { confirm: 'Sind Sie sicher, dieses Rohöl zu löschen?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Neues Rohöl anlegen', new_rawoil_path %> |
<%= link_to 'Zurück zur Startseite', blending_start_path %>

