<% provide(:title, 'Rohöle') %>
<h1>Rohölinformation</h1>
<p>
  <strong>Name:</strong>
  <%= @rawoil.name %>
</p>

<p>
  <b>Raffinerie:</b>
  <%= @rawoil.refinery.description %>
</p>

<p>
  <strong>Dichte:</strong>
  <%= @rawoil.density %>
</p>

<p>
  <strong>Rohölkategorie:</strong>
  <%= @rawoil.category %>
</p>

<br>

<%= link_to 'Bearbeiten', edit_rawoil_path(@rawoil) %> |
<%= link_to 'Zurück zur Übersicht der Rohöle', rawoils_path %>
