<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@gams_path) do |f| %>
        <% if @gams_path.errors.any? %>
            <div id="error_explanation">
              <h2><%= @order.errors.count.to_s +  ' Fehler' %>
                <% if @order.errors.count < 2 %>
                    verhindert
                <% elsif @order.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieses GAMS_Pfads.
              </h2>

              <ul>
                <% @gams_path.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :gams_paths %><br>
          <%= f.text_field :gams_path_url, :class => "form-control", placeholder: "C:\\GAMS\\win64\\24.5\\gams"%>
        </div>
        <div class="actions">
          <%= f.submit 'GAMS-Pfad aktualisieren', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
  </div>
</div>


