<% provide(:title, 'GAMS-Pfad') %>
<h1>Bearbeitung des GAMS-Pfads</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @gams_path %> |
<%= link_to 'Zurück zur Übersicht des GAMS-Pfads', gams_paths_path %>
