<% provide(:title, 'GAMS-Pfad') %>

<h1>GAMS-Pfad</h1>

<%= link_to 'Excel Download', gams_paths_path(:format => :xls) %>

<table id="gams_paths" class="display">
  <thead>
  <tr>
    <th>GAMS-Pfad</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @gams_paths.each do |gams_path| %>
      <tr>
        <td><%= gams_path.gams_path_url %></td>
        <td><%= link_to 'Anzeigen', gams_path %></td>
        <td><%= link_to 'Bearbeiten', edit_gams_path_path(gams_path) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Zurück zur Startseite', blending_start_path %>
