<% provide(:title, 'GAMS-Pfad') %>
<h1>Information zum GAMS-Pfad</h1>

<p>
  <strong>GAMS-Pfad-URL:</strong>
  <%= @gams_path.gams_path_url %>
</p>

<br>

<%= link_to 'Bearbeiten', edit_gams_path_path(@gams_path) %> |
<%= link_to 'Zurück zur Übersicht des GAMS-Pfads', gams_paths_path %>
