<% provide(:title, 'Rohölverbräuche') %>

<h1>Auflistung der Rohölverbräuche</h1>

<%= link_to 'Excel Download', consumptions_path(:format => :xls) %>

<table id="consumptions" class="display">
  <thead>
  <tr>
    <th>Monat</th>
    <th>Rohöl</th>
    <th>Verwendung</th>
    <th>Verbrauchsmenge</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @consumptions.each do |consumption| %>
      <tr>
        <td><%= consumption.month.description %></td>
        <td><%= consumption.rawoil.name %></td>
        <td><%= consumption.induse %></td>
        <td><%= consumption.use %></td>
        <td><%= link_to 'Anzeigen', consumption %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h1>Rohöhlverbräuche pro Monat</h1>

<%= line_chart Rawoil.all.map { |rawoil|
                 {
                         name: rawoil.name,
                         data: rawoil.consumptions.group(:month_id).sum(:use)
                 }},
               discrete: true,
               xtitle: 'Monat',
               ytitle: 'Verbrauchsmenge',
               library: {backgroundColor: '#fafafa', legend: {position: 'top'}}
%>

<%= link_to 'Zurück zur Startseite', blending_start_path %>
