<% provide(:title, 'Rohölverbräuche') %>
<h1>Information zum Rohölverbrauch</h1>
<p>
  <strong>Monat:</strong>
  <%= @consumption.month.description %>
</p>

<p>
  <strong>Rohöl:</strong>
  <%= @consumption.rawoil.name %>
</p>

<p>
  <strong>Binärvariable:</strong>
  <%= @consumption.induse %>
</p>

<p>
  <strong>Gebrauchsmenge:</strong>
  <%= @consumption.use %>
</p>

<br>

<%= link_to 'Zurück zur Übersicht der Rohölverbräuche', consumptions_path %>
