<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@administration) do |f| %>
        <% if @administration.errors.any? %>
            <div id="error_explanation">
              <h2><%= @administration.errors.count.to_s +  ' Fehler' %>
                <% if @administration.errors.count < 2 %>
                    verhindert
                <% elsif @administration.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieses Parameters.
              </h2>

              <ul>
                <% @administration.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :category %><br>
          <%= @administration.category %>
        </div>
        <div class="field">
          <%= f.label :value %><br>
          <%= f.text_field :value, {:class => "form-control"} %>
        </div>
        <div class="actions">
          <%= f.submit 'Produktionsparameter aktualisieren', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
  </div>
</div>