<% provide(:title, 'Produktionsparameter') %>
<h1>Bearbeitung der Produktionsparameter</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @administration %> |
<%= link_to 'Zurück zur Übersicht der Produktionsparameter', administrations_path %>
