<% provide(:title, 'Produktionsparameter') %>

<h1>Auflistung der Produktionsparameter</h1>

<%= link_to 'Excel Download', administrations_path(:format => :xls) %>

<table id="administrations" class="display">
  <thead>
  <tr>
    <th>Parameter</th>
    <th>Wert</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @administrations.each do |administration| %>
      <tr>
        <td><%= administration.category %></td>
        <td><%= administration.value %></td>
        <td><%= link_to 'Anzeigen', administration %></td>
        <td><%= link_to 'Bearbeiten', edit_administration_path(administration) %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Zurück zur Startseite', blending_start_path %>
