<% provide(:title, 'Produktionsparameter') %>
<h1>Information zum Produktionsparameter</h1>
<p>
  <strong>Parameter:</strong>
  <%= @administration.category %>
</p>

<p>
  <strong>Wert:</strong>
  <%= @administration.value %>
</p>

<br>

<%= link_to 'Bearbeiten', edit_administration_path(@administration) %> |
<%= link_to 'Zurück zur Übersicht der Produktionsparameter', administrations_path %>
