div.button{
  width: 380px;
  margin: auto;
  color: #d4dbe4;
}

.btn-primary {
  background: #d4dbe4;
  color: black;
  border-color: #d4dbe4;
}

div.image {
  float: left;
  width: 300px;
  height: 100px;
}

div.linkcontainer {
  text-align: center;
  width: 100%;
}

div.centerwrapper {
  width: 80%;
  margin: auto;
}

div.below {
  clear: both;
  text-align: center;
}
.button {
  width: 200px;
  margin: auto;
}

.control {
  background-color: #F6F6F3;
  width: 9cm;
  height: 1cm;
  color: #B00100;
}

div.supplier-fieldset {
  width: 80%;
}

.alert {
  text-align: left;
  border: cornflowerblue 1px solid;
  font-weight: bold;
  background-color: snow;
  color: green;
  width: 35%;
  border-color: green;
}

