<p id="notice"><%= notice %></p>

<h1>Listing Machines</h1>

<table id="machines" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Overtime cost</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.name %></td>
        <td><%= machine.overtime_cost %></td>
        <td><%= link_to 'Show', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine', new_machine_path %>
<br>  <br>
<%= link_to 'Zurück zur Losgrößenplanung', mlclsp_start_path %>

