<!--<p id="notice"><%= notice %></p> -->

<p>
  <b>Name:</b>
  <%= best_in_place @product, :name %>
</p>


<p>
  <b>Maschine:</b>
  <%= @product.machine_id %>
</p>


<p>
  <b>Rüstzeit:</b>
  <%= best_in_place @product, :setup_time %>
</p>


<p>
  <b>Stückzeit:</b>
  <%= best_in_place @product, :processing_time %>
</p>

<p>
  <b>Rüstkosten:</b>
  <%= best_in_place @product, :setup_cost %>
</p>

<p>
  <b>Lagerkosten:</b>
  <%= best_in_place @product, :holding_cost %>
</p>
<p>
  <b>Anfangsbestand:</b>
  <%= best_in_place @product, :initial_inventory %>
</p>
<p>
  <b>Vorlauf:</b>
  <%= best_in_place @product, :lead_time_periods %>
</p>




<%= link_to 'Ändern', edit_product_path(@product) %> |
<%= link_to 'Zurück', products_path %>
