<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@supplier) do |f| %>
        <% if @supplier.errors.any? %>
            <div id="error_explanation">
              <h2><%= @supplier.errors.count.to_s +  ' Fehler' %>
                <% if @supplier.errors.count < 2 %>
                    verhindert
                <% elsif @supplier.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieses Lieferanten.
              </h2>

              <ul>
                <% @supplier.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <h3>Lieferanteninformation</h3>
        <%= f.label :contact_firstname %><br>
        <%= f.text_field :contact_firstname, class: 'form-control' %><br>

        <%= f.label :contact_lastname %><br>
        <%= f.text_field :contact_lastname, class: 'form-control' %><br>

        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control' %><br>

        <%= f.label :firmname %><br>
        <%= f.text_field :name, class: 'form-control' %><br>

        <h3>Angebote</h3>
        <%= f.fields_for :shipments do |shipment| %>
            <%= render 'shipment_fields', f: shipment %>
        <% end %>

        <div>
          <%= link_to_add_association 'Angebot hinzufügen', f, :shipments %><br><br>
        </div>

        <%= f.submit 'Lieferanten aktualisieren', class: 'btn btn-primary' %><br><br>

    <% end %>
  </div>
</div>