<div class="nested-fields">
  <fieldset>
    <%= f.label 'Rohöl:' %><br>
    <%= f.collection_select :rawoil_id, Rawoil.all, :id, :name %>
    <%= f.label 'Monat:' %><br>
    <%= f.collection_select :month_id, Month.all, :id, :description %>
    <%= f.label 'Preis:' %><br>
    <%= f.text_field :price, {:class => "form-control"} %><br>
    <%= link_to_remove_association 'Angebot Löschen', f %>
  </fieldset><br>
</div>