<h3>Angebote</h3><br>

<table id="supplier_shipments" class="display">
  <thead>
  <tr>
    <th>Rohöhl</th>
    <th>Monat</th>
    <th>Preis</th>
    <th>Menge</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @supplier.shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.rawoil.name %></td>
        <td><%= shipment.month.description %></td>
        <td><%= shipment.price %></td>
        <td><%= shipment.quantity %></td>
        <td><%= link_to 'Anzeigen', shipment %></td>
        <td><%= link_to 'Bearbeiten', edit_shipment_path(shipment) %></td>
      </tr>
  <% end %>
  </tbody>
</table>