<% provide(:title, 'Lieferanten') %>
<h1>Bearbeitung der Lieferanten</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @supplier %> |
<%= link_to 'Zurück zur Übersicht der Lieferanten', suppliers_path %>
