<% provide(:title, 'Lieferanten') %>

<h1>Auflistung der Lieferanten</h1>

<%= link_to 'Excel Download', suppliers_path(:format => :xls) %>

<table id="suppliers" class="display">
  <thead>
  <tr>
    <th>Firmenname</th>
    <th>E-Mail</th>
    <th>Ansprechpartner</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.contact_firstname %></td>
        <td><%= supplier.contact_lastname %></td>
        <td><%= link_to 'Anzeigen', supplier %></td>
        <td><%= link_to 'Bearbeiten', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Löschen', supplier, method: :delete, data: { confirm: 'Sind Sie sicher, diesen Lieferanten zu löschen?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Lieferant', new_supplier_path %> |
<%= link_to 'Zurück zur Startseite', blending_start_path %>