<% provide(:title, 'Lieferanten') %>
<h1>Information zum Lieferanten</h1>
<p>
  <strong>Firmenname:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Ansprechpartner:</strong>
  <%= @supplier.fullname %>
</p>

<br>

<%= render 'table' %>

<%= link_to 'Bearbeiten', edit_supplier_path(@supplier) %> |
<%= link_to 'Zurück zur Übersicht der Lieferanten', suppliers_path %>
