<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@shipment) do |f| %>
        <% if @shipment.errors.any? %>
            <div id="error_explanation">
              <h2><%= @shipment.errors.count.to_s +  ' Fehler' %>
                <% if @shipment.errors.count < 2 %>
                    verhindert
                <% elsif @shipment.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern dieser Rohöllieferung.
              </h2>

              <ul>
                <% @shipment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <% if can? :optimize, Warehousing %>
            <%= f.label 'supplier_id' %><br>
            <%= f.collection_select :supplier_id, Supplier.all, :id, :name %>
        <% else %>
            <%= f.label 'supplier_id' %><br>
            <%= @supplier.pluck(:name).join(' ') %>
            <%= f.hidden_field :supplier_id, value: @supplier.pluck(:id) %>
        <% end %> <br><br>

        <%= f.label 'rawoil_id' %><br />
        <%= f.collection_select :rawoil_id, Rawoil.all, :id, :name %>

        <%= f.label 'month_id' %><br />
        <%= f.collection_select :month_id, Month.all, :id, :description %>

        <%= f.label 'price' %><br>
        <%= f.text_field :price, {:class => "form-control"} %>


        <div class="actions">
          <%= f.submit 'Rohöllieferung bestätigen', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
  </div>
</div>
