<% provide(:title, 'Rohöllieferungen') %>
<h1>Bearbeitung der Rohöllieferungen</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @shipment %> |
<%= link_to 'Zurück zur Übersicht der Rohöllieferungen', shipments_path %>
