<% provide(:title, 'Rohöllieferungen') %>

<h1>Auflistung der Rohöllieferungen</h1>

<%= link_to 'Excel Download', shipments_path(:format => :xls) %>

<table id="shipments" class="display">
  <thead>
  <tr>
    <th>Lieferant</th>
    <th>Rohöhl</th>
    <th>Monat</th>
    <th>Preis</th>
    <th>Menge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.supplier.name %></td>
        <td><%= shipment.rawoil.name %></td>
        <td><%= shipment.month.description %></td>
        <td><%= shipment.price %></td>
        <td><%= shipment.quantity %></td>
        <td><%= link_to 'Anzeigen', shipment %></td>
        <td><%= link_to 'Bearbeiten', edit_shipment_path(shipment) %></td>
        <td><%= link_to 'Löschen', shipment, method: :delete, data: { confirm: 'Sind Sie sicher, diese Rohöllieferung zu löschen?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h1>Preisentwicklung pro Rohöl</h1>

<%= line_chart Rawoil.all.map { |rawoil|
                 {
                         name: rawoil.name,
                         data: rawoil.shipments.where(supplier_id: @supplier.pluck(:id)).group(:month_id).minimum(:price)
                 }},
               discrete: true,
               xtitle: 'Monat',
               ytitle: 'Minimaler Preis über alle Lieferanten',
               library: {backgroundColor: '#fafafa', legend: {position: 'top'}}%>

<h1>Einkäufe pro Monat und Rohöl</h1>

<%= column_chart Rawoil.all.map { |rawoil|
                   {
                           name: rawoil.name,
                           data: rawoil.shipments.where(supplier_id: @supplier.pluck(:id)).group(:month_id).sum(:quantity)
                   }},
                 xtitle: 'Monat',
                 ytitle: 'Liefermenge',
                 library: {backgroundColor: '#fafafa', legend: {position: 'top'}}
%>

<br>

<%= link_to 'Neue Rohöllieferung', new_shipment_path %> |
<%= link_to 'Zurück zur Startseite', blending_start_path %>
