<% provide(:title, 'Rohöllieferungen') %>
<h1>Information zur Rohöllieferung</h1>

<p>
  <strong>Lieferant:</strong>
  <%= @shipment.supplier.name %>
</p>

<p>
  <strong>Rohöl:</strong>
  <%= @shipment.rawoil.name %>
</p>

<p>
  <strong>Monat:</strong>
  <%= @shipment.month.description %>
</p>

<p>
  <strong>Menge:</strong>
  <%= @shipment.quantity %>
</p>

<p>
  <strong>Preis:</strong>
  <%= @shipment.price %>
</p>

<br>

<%= link_to 'Bearbeiten', edit_shipment_path(@shipment) %> |
<%= link_to 'Zurück zur Übersicht der Rohöllieferungen', shipments_path %>
