<%= form_for(@product_period_association) do |f| %>
  <% if @product_period_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_period_association.errors.count, "error") %> prohibited this product_period_association from being saved:</h2>

      <ul>
      <% @product_period_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= @product_period_association.product.name %>
  </div>
  <div class="field">
    <%= f.label :period_id %><br>
    <%= @product_period_association.period.name %>
  </div>
  <div class="field">
    <%= f.label :demand %><br>
    <%= f.text_field :demand %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
