<p id="notice"><%= notice %></p>

<h1>Listing Product Period Associations</h1>

<table id="prod-per-assoc" class="display">
  <thead>
    <tr>
      <th>Product</th>
      <th>Period</th>
      <th>Demand</th>
      <th>Production quantity</th>
      <th>Inventory level</th>
      <th>Setup variable</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_period_associations.each do |product_period_association| %>
      <tr>
        <td><%= product_period_association.product.name %></td>
        <td><%= product_period_association.period.name %></td>
        <td><%= product_period_association.demand %></td>
        <td><%= product_period_association.production_quantity %></td>
        <td><%= product_period_association.inventory_level %></td>
        <td><%= product_period_association.setup_variable %></td>
        <td><%= link_to 'Show', product_period_association %></td>
        <td><%= link_to 'Edit', edit_product_period_association_path(product_period_association) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<% if @objective_function_value!=nil %>
    Die Kosten betragen <%=   @objective_function_value %> Geldeinheiten!   <br>   <br>
<% end %>



<%= link_to 'New Product period association', new_product_period_association_path %>
<br>
<%= link_to 'Zurück zur Losgrößenplanung', mlclsp_start_path %>

