<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_period_association.product.name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @product_period_association.period.name %>
</p>

<p>
  <strong>Demand:</strong>
  <%= @product_period_association.demand %>
</p>

<p>
  <strong>Production quantity:</strong>
  <%= @product_period_association.production_quantity %>
</p>

<p>
  <strong>Inventory level:</strong>
  <%= @product_period_association.inventory_level %>
</p>

<p>
  <strong>Setup variable:</strong>
  <%= @product_period_association.setup_variable %>
</p>

<%= link_to 'Edit', edit_product_period_association_path(@product_period_association) %> |
<%= link_to 'Back', product_period_associations_path %>
