<footer class="footer">
  <small>
    Blending-Oil-App von <%= mail_to("j.broihan@gmx.de", "Justine Broihan")%> und
    <%= mail_to("max-moeller91@web.de", "Max Möller")%> basierend auf
    <a href="http://www.railstutorial.org/">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über uns",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://www.onvista.de/rohstoffe/Oelpreis-Brent-26262975">News</a></li>
    </ul>
  </nav>
</footer>
