<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "blending-oil-app", blending_start_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Hilfe",   help_path %></li>
        <% if logged_in? %>
            <% if can? :optimize, Warehousing %>
                <li><%= link_to "Benutzer",   users_path %></li>
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Anwendungen <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Transportplanung", transport_start_path %></li>
                <li class="divider"></li>
                <li><%= link_to "MLCLSP", mlclsp_start_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Seminar", "#" %></li>
                <li class="divider"></li>
                <li><%= link_to "Blending of Oil", blending_start_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Konto <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profil", current_user %></li>
                <li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log-out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>

        <% else %>
            <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

